/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.DS_Store  
.DS_Store?  
._*  
.Trashes 

public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
/.idea
/packages